---
layout: default
title: 'Baumschutz auf Baustellen'
---

.breadcrumb
  = link_to 'Impressionen', '/impressionen.html'
  \&gt; Baumschutz auf Baustellen

%h2 Baumschutz auf Baustellen

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/baumschutz-auf-baustellen/IMG_0434_Kopie_499x669.jpg", rel: "lightbox[Baumschutz auf Baustellen]", title: "IMG_0434_Kopie"}
        %img{alt: "Baumschutz auf Baustellen", height: "250", src: "/images/galleries/baumschutz-auf-baustellen/IMG_0434_Kopie_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschutz-auf-baustellen/IMG_0446_Kopie_500x373.JPG", rel: "lightbox[Baumschutz auf Baustellen]", title: "IMG_0446_Kopie"}
        %img{alt: "Baumschutz auf Baustellen", height: "250", src: "/images/galleries/baumschutz-auf-baustellen/IMG_0446_Kopie_c200x250.JPG", width: "200"}/

%br{clear:'both'}/
