---
layout: default
title: 'Baumschnitt'
---

.breadcrumb
  %a{href: "/impressionen.html"} Impressionen
  \&gt; Baumschnitt

%h2 Baumschnitt

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_6288_Kopie_500x375.JPG", rel: "lightbox[Baumschnitt]", title: "IMG_6288_Kopie"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_6288_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_0004_500x375.JPG", rel: "lightbox[Baumschnitt]", title: "IMG_0004"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_0004_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_6266_Kopie_500x375.JPG", rel: "lightbox[Baumschnitt]", title: "IMG_6266_Kopie"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_6266_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_6285_Kopie_500x666.JPG", rel: "lightbox[Baumschnitt]", title: "IMG_6285_Kopie"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_6285_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_6292_Kopie_500x666.JPG", rel: "lightbox[Baumschnitt]", title: "IMG_6292_Kopie"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_6292_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/Linden_Sternen_Kopie_500x375.JPG", rel: "lightbox[Baumschnitt]", title: "Linden_Sternen_Kopie"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/Linden_Sternen_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_0076a_500x375.jpg", rel: "lightbox[Baumschnitt]", title: "IMG_0076"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_0076a_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_0076a_500x375.jpg", rel: "lightbox[Baumschnitt]", title: "IMG_0076"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_0076a_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/DSC00827_500x375.jpg", rel: "lightbox[Baumschnitt]", title: "DSC00827"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/DSC00827_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/DSC00833_500x375.jpg", rel: "lightbox[Baumschnitt]", title: "DSC00833"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/DSC00833_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/baumschnitt/IMG_1318_500x373.JPG", rel: "lightbox[Baumschnitt]", title: "IMG_1318"}
        %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_1318_c200x250.JPG", width: "200"}/

%br{clear:'both'}/
