---
layout: default
title: 'Fällungen'
---

.breadcrumb
  %a{href: "/impressionen.html"} Impressionen
  \&gt; Fällungen

%h2 Fällungen

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_2221_300x400.jpg", rel: "lightbox[Fällungen]", title: "IMG_2221"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_2221_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_2219_300x400.jpg", rel: "lightbox[Fällungen]", title: "IMG_2219"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_2219_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/043_Kopie_500x375.jpg", rel: "lightbox[Fällungen]", title: "043_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/043_Kopie_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/046_Kopie_500x375.jpg", rel: "lightbox[Fällungen]", title: "046_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/046_Kopie_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_0075_Kopie_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMG_0075_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_0075_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_0084_Kopie_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMG_0084_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_0084_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_3876_Kopie_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMG_3876_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_3876_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_3884_Kopie_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMG_3884_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_3884_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_3886_Kopie_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMG_3886_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_3886_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1544_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1544"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1544_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_3903_Kopie_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMG_3903_Kopie"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_3903_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1546_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1546"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1546_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1547_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1547"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1547_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1548_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1548"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1548_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1555_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1555"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1555_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1565_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1565"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1565_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1572_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1572"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1572_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1579_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1579"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1579_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMGP1582_500x375.JPG", rel: "lightbox[Fällungen]", title: "IMGP1582"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMGP1582_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/faellungen/IMG_3906_500x666.jpg", rel: "lightbox[Fällungen]", title: "IMG_3906"}
        %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_3906_c200x250.jpg", width: "200"}/

%br{clear:'both'}/
