---
layout: default
title: 'Kronensicherung'
---

.breadcrumb
  %a{href: "/impressionen.html"} Impressionen
  \&gt; Kronensicherung

%h2 Kronensicherung

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/IMG_0145_Kopie_500x375.JPG", rel: "lightbox[Kronensicherung]", title: "IMG_0145_Kopie"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0145_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/IMG_0151_Kopie_500x375.JPG", rel: "lightbox[Kronensicherung]", title: "IMG_0151_Kopie"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0151_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/IMG_0173_Kopie_500x373.JPG", rel: "lightbox[Kronensicherung]", title: "IMG_0173_Kopie"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0173_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/IMG_0178_Kopie_500x373.JPG", rel: "lightbox[Kronensicherung]", title: "IMG_0178_Kopie"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0178_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/IMG_0184_Kopie_500x373.JPG", rel: "lightbox[Kronensicherung]", title: "IMG_0184_Kopie"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0184_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/IMG_0185_Kopie_500x373.JPG", rel: "lightbox[Kronensicherung]", title: "IMG_0185_Kopie"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0185_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/kronensicherung/Flaschenzug_Horizontal_in_Buche_Kopie_3_499x521.jpg", rel: "lightbox[Kronensicherung]", title: "Flaschenzug_Horizontal_in_Buche_Kopie_3"}
        %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/Flaschenzug_Horizontal_in_Buche_Kopie_3_c200x250.jpg", width: "200"}/

%br{clear:'both'}/
