---
layout: default
title: 'Landschaftspflege'
---

.breadcrumb
  = link_to 'Impressionen', '/impressionen.html'
  \&gt; Landschaftspflege

%h2 Landschaftspflege

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/landschaftspflege/IMG_0011_Kopie_500x375.JPG", rel: "lightbox[Landschaftspflege]", title: "IMG_0011_Kopie"}
        %img{alt: "Landschaftspflege", height: "250", src: "/images/galleries/landschaftspflege/IMG_0011_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/landschaftspflege/IMG_0062_Kopie_500x375.JPG", rel: "lightbox[Landschaftspflege]", title: "IMG_0062_Kopie"}
        %img{alt: "Landschaftspflege", height: "250", src: "/images/galleries/landschaftspflege/IMG_0062_Kopie_c200x250.JPG", width: "200"}/

%br{clear:'both'}/
