---
layout: default
title: 'Standortverbesserung'
---

.breadcrumb
  = link_to 'Impressionen', '/impressionen.html'
  \&gt; Standortverbesserung

%h2 Standortverbesserung

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/standortverbesserung/IMG_1002_Kopie_2_500x373.JPG", rel: "lightbox[Standortverbesserung]", title: "IMG_1002_Kopie_2"}
        %img{alt: "Standortverbesserung", height: "250", src: "/images/galleries/standortverbesserung/IMG_1002_Kopie_2_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/standortverbesserung/IMG_1009_Kopie_2_500x373.JPG", rel: "lightbox[Standortverbesserung]", title: "IMG_1009_Kopie_2"}
        %img{alt: "Standortverbesserung", height: "250", src: "/images/galleries/standortverbesserung/IMG_1009_Kopie_2_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/standortverbesserung/IMG_1015_Kopie_2_500x373.JPG", rel: "lightbox[Standortverbesserung]", title: "IMG_1015_Kopie_2"}
        %img{alt: "Standortverbesserung", height: "250", src: "/images/galleries/standortverbesserung/IMG_1015_Kopie_2_c200x250.JPG", width: "200"}/

%br{clear:'both'}/
