---
layout: default
title: 'Wurzelballen entfernen'
---

.breadcrumb
  %a{href: "/impressionen.html"} Impressionen
  \&gt; Wurzelballen entfernen

%h2 Wurzelballen entfernen

.gallery
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/IMG_0012_Kopie_500x375.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "IMG_0012_Kopie"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/IMG_0012_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/MFZ_5000_Aktion_Apfel_33_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "MFZ_5000_Aktion_Apfel_33"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/MFZ_5000_Aktion_Apfel_33_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_GDurch_Tor_500x373.jpg", rel: "lightbox[Wurzelballen entfernen]", title: "ST_GDurch_Tor"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_GDurch_Tor_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/IMG_0281_Kopie_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "IMG_0281_Kopie"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/IMG_0281_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/IMG_0682_Kopie_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "IMG_0682_Kopie"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/IMG_0682_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/IMG_1219_Kopie_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "IMG_1219_Kopie"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/IMG_1219_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/CIMG5854_Kopie_480x640.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "CIMG5854_Kopie"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/CIMG5854_Kopie_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/DSC05622_500x375.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "DSC05622"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/DSC05622_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/Hermetschwil-Schtaffeln_30_500x373.jpg", rel: "lightbox[Wurzelballen entfernen]", title: "Hermetschwil-Schtaffeln_30"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/Hermetschwil-Schtaffeln_30_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_B_500x373.jpg", rel: "lightbox[Wurzelballen entfernen]", title: "ST_B"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_B_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_D_500x373.jpg", rel: "lightbox[Wurzelballen entfernen]", title: "ST_D"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_D_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_G_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "ST_G"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_G_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_Q_499x669.jpg", rel: "lightbox[Wurzelballen entfernen]", title: "ST_Q"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_Q_c200x250.jpg", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_R_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "ST_R"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_R_c200x250.JPG", width: "200"}/
  .container
    .thumb
      %a{href: "/images/galleries/wurzelballen-entfernen/ST_S_500x373.JPG", rel: "lightbox[Wurzelballen entfernen]", title: "ST_S"}
        %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/ST_S_c200x250.JPG", width: "200"}/

%br{clear:'both'}/
