---
layout: default
title: 'Angebot'
---

%p.boxer
  %img{src: "images/baumpflege.jpg"}/

%h2
  Baumpflege
%p
  Wir sind über moderne Baumpflege auf dem neusten Stand: Baumbioligisch
  und physiologische Prozesse haben wir stetig vor Augen und beziehen sie
  grundsätzlich in die Arbeit mit Gehölzen ein.
%p
  Mit der für die Baumpflege optimierten Seilklettertechnik ist es uns möglich
  von der Kronenmitte  bis in die äussere Peripherie übersichtlich,
  hoch effizient und schonend wirken zu können.
%p
  Da wir bei Pflegemassnahmen fast ausschliesslich ohne maschinellen Einsatz
  arbeiten, können wir umfassende Aufträge umweltschonend und kostengünstig
  ausführen.


%ul
  %li
    %a{href: "angebot/baumpflege/diagnose-und-beratung/baumfaellungen.html"} Diagnose und Beratung
  %li
    %a{href: "angebot/baumpflege/baumschnitt/baumfaellungen.html"} Baumschnitt
  %li
    %a{href: "angebot/baumpflege/kronensicherungs-systeme/baumfaellungen.html"} Kronensicherungs-Systeme
