---
layout: default
title: 'Impressionen'
---

%h2 Impressionen

.galleries
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/baumschnitt.html", title: "Baumschnitt"}
          %img{alt: "Baumschnitt", height: "250", src: "/images/galleries/baumschnitt/IMG_6288_Kopie_c200x250.JPG", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/baumschnitt.html"} Baumschnitt
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/baumschutz-auf-baustellen.html", title: "Baumschutz auf Baustellen"}
          %img{alt: "Baumschutz auf Baustellen", height: "250", src: "/images/galleries/baumschutz-auf-baustellen/IMG_0434_Kopie_c200x250.jpg", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/baumschutz-auf-baustellen.html"} Baumschutz auf Baustellen
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/faellungen.html", title: "Fällungen"}
          %img{alt: "Fällungen", height: "250", src: "/images/galleries/faellungen/IMG_2221_c200x250.jpg", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/faellungen.html"} Fällungen
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/kronensicherung.html", title: "Kronensicherung"}
          %img{alt: "Kronensicherung", height: "250", src: "/images/galleries/kronensicherung/IMG_0145_Kopie_c200x250.JPG", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/kronensicherung.html"} Kronensicherung
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/landschaftspflege.html", title: "Landschaftspflege"}
          %img{alt: "Landschaftspflege", height: "250", src: "/images/galleries/landschaftspflege/IMG_0011_Kopie_c200x250.JPG", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/landschaftspflege.html"} Landschaftspflege
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/standortverbesserung.html", title: "Standortverbesserung"}
          %img{alt: "Standortverbesserung", height: "250", src: "/images/galleries/standortverbesserung/IMG_1002_Kopie_2_c200x250.JPG", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/standortverbesserung.html"} Standortverbesserung
  .gallery
    .description
      .thumb
        %a{href: "/impressionen/wurzelballen-entfernen.html", title: "Wurzelballen entfernen"}
          %img{alt: "Wurzelballen entfernen", height: "250", src: "/images/galleries/wurzelballen-entfernen/MFZ_5000_Aktion_Apfel_33_c200x250.JPG", width: "200"}/
      .title
        %h4
          %a{href: "/impressionen/wurzelballen-entfernen.html"} Wurzelballen entfernen

%br{clear:'both'}/
