---
layout: default
title: 'Home'
---

%ul.rslides
  %img{alt: "BaumNatur", src: "/images/galleries/home/home_winter_c730x410.jpeg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/IMG_4556_c730x410.JPG"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/0216_c730x410.jpg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/0020_c730x410.jpg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/DSC00833_c730x410.jpg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/IMG_2155_c730x410.JPG"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/leuchtende_konturen_tilia_n_f_3_c730x410.jpg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/0002_c730x410.jpg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/leuchtende_konturen_tilia_n_f_c730x410.jpg"}/
  %img{alt: "BaumNatur", src: "/images/galleries/home/0021_c730x410.jpg"}/
