---
layout: default
title: 'Links'
---

%p.boxer
  %img{alt: "portrait", src: "/images/portrait.jpg"}/

%h2
  Info
%p
  Da besiedelte Gebiete meist nicht dem natürlichen Lebensraum von Bäumen
  entsprechen, sie man doch aber auch in Zukunft erhalten möchte, brauchen
  sie besondere Aufmerksamkeit.
%p
  Bäume sind komplex aufgebaute Lebewesen. Der Umgang mit ihnen fordert
  moderne Fachkenntnisse, um sie langfristig erhalten zu können.
%p
  Jeder Baum ist in seinem Wachstum und der Erscheinung individuell auch
  meist wunderschön - wir gehen als solches auf ihn ein. Beim Schnitt achten
  wir besonders darauf möglichst nahe der artspeziefischen Kronenform (Habitus)
  zu bleiben, so dass das Gesamtbild naturnah bleibt.
