---
layout: default
---

%p.boxer
  %img{alt: "Spinnenetz", src: "/images/spinnenetz.jpg"}/

%ul
  %li
    %a{href: "http://www.lunexgarten.ch/"} Lunex, der Lust-Nutz-Experimentiergarten
  %li
    %a{href: "http://www.mechaniker-meier.ch/"} Mechaniker Meier
  %li
    %a{href: "http://yellow.local.ch/de/q/Dintikon/Baudienstleistungen.html?rid=9giq"} Bauservice Ruckstuhl
  %li
    %a{href: "http://www.linkflink.ch/"} linkflink GmbH
  %li
    %a{href: "http://yellow.local.ch/de/d/Stetten-AG/5608/Leuenberger-Schneider-GmbH-cBjCmbYNN_UI-OvWg6glDQ?what=leuenberger+und+Schneider+gmbh&where="} Leuenberger und Schneider GmbH
  %li
    %a{href: "http://mksoft.ch/"} Michael Kessler Softwareentwicklung

%ul
  %li
    %a{href: "http://wald.ch/"} Unser Wald. Nutzen für alle.
  %li
    %a{href: "http://pronatura.ch/"} Pro Natura – für mehr Natur, überall!
