---
layout: default
title: 'Unsere Firma'
---

%p.boxer
  %img{alt: "kontakt", src: "/images/kontakt.jpg"}/

%h2
  Unsere Firma
%p
  BaumNatur ist ihr Spezialist für Arbeiten im Garten und der Landschaftspflege,
  insbesonderen im Umgang mit Bäumen. Durch unser Netzwerk mit branchennahen
  Kleinfirmen können wir sehr flexibel und in hoher Qualität ihre Anforderungen
  umsetzen. 
%p
  Wir protegieren ein bedachter Umgang mit Bäumen sowie Grünflächen und
  unterstützen den Erhalt von naturnahem Lebensraum. Unsere Einsatzgebiete
  sind weitgehend Gärten, Parks und Landschaft.
%p
  Inhaber ist Thomas Burkart, ausgebildeter Landschaftsgärtner und Baumpflegespezialist
  mit eidgenössischem Fachausweis. Unsere Auftraggeber sind Private, Vereine,
  Firmen, Verwaltungen, Gemeinden und der Kanton. 
%p
  Für uns ist die Arbeit in der Natur ein Vergnügen und wir freuen uns täglich
  auf neue Herausforderungen, welche wir mit geschicktem Einsatz der Mittel
  immer wieder neu lösen.
%p
  Für umfangreichere Projekte, welche branchenübergerifende Lösungen fordern,
  können wir auf unser breitgefächertes Neztwerk von qualifizierten Partnern
  zurückgreifen.


%h1
  Gerne beraten wir Sie persönlich
%p
  Erstbesichtigung mit Beratungen sind natürlich kostenfrei. Wir freuen
  uns auf ihre Anfrage. 
%p
  %strong BaumNatur
  %br/
  Thomas Burkart
  %br/
  Baumpflegespezialist mit eidg. Fachausweis
%p
  Sternengasse 3   
  %br/
  5620 Bremgarten
  %br/
  079 797 50 46
  %br/
  %a{href: "mailto:burkart@baumnatur.ch"} burkart@baumnatur.ch
%p
  Magazin  
  %br/
  Fabrikstrasse 1
  %br/
  5608 Stetten
