---
layout: default
title: 'Baumfällungen'
---

%p.boxer
  %img{alt: "kronensicherung", src: "/images/baumfaellungen.jpg"}/

%h2
  Baumfällungen
%p
  In manchen Situationen ist es sinnvoll, geschwächte oder verletzte Bäume
  zu entfernen um anderen - gesunden und erhaltenswerten -  Bäumen gezielt
  Raum und Licht zur Verfügung zu stellen um dessen gesunden Wachstum und
  Entfaltung bestmöglich zu forcieren.
%p
  Wir sind ausgerüstet für Fällungen jeglicher Art. Mittels Seilklettertechnik
  ist es möglich, Bäume kontrolliert, effizient und umfeldschonend abzubauen,
  auch an Standorten welche maschinell  unzugänglich sind.

%h3
  Weitere Gründe für Fällungen:
%ul
  %li
    Altersbedingter Zerfall/Vergreisung (Essesentz Phase)
  %li
    Schad-Ursachen wie z.b Schnee, Sturm, Anfahrschäden etc.
  %li
    Wenn durch unsachgemässe Behandlung (Kappschnitt, Verstümmelung, Flash
    Cuts, Grabarbeiten) mangels Fachwissen  Krone, Stamm oder Wurzelraum
    irreversibel beschädigt wurden
  %li
    Falls infolge Infektion durch holzzersetzende Pilze der Stand oder die
    Bruchsicherheit nicht mehr gewährleistet ist

%h3
  Spezialfällung

%h4
  Stückweisefällung - abwerfen
%p
  Es wird eine Abwurfzone definiert. Den zu fällenden Baum mittels SKT bestiegen.
  Anschliessend Stückweise abgebaut und gezielt abgeworfen

%h4
  Stückweisefällung -Abseilen (Rigging)
%p
  Der zu Fällende Baum wird mittels SKT und Steigeisen bestiegen. Jedes
  abzubauende Stück wird mit Hife von speziell für den Riggingeinsatz entwickeltem
  Ablassmaterial befestig, kontrolliert und umfeldschonend zu Boden gelassen.

%h4
  Kranfällung
%p
  Mit hilfe eines Lastwagenkrans wird der zu fällende Baum von seinem Standort
  sauber und umfeldschonen in wenigen Stücken, bei kleineren Bäumen wenn
  möglich auch in einem Stück rausgehoben und abtransportiert.

%h4
  Normalfällung
%p
  Eine Normal-Fällung ist das gesteuerte und gezielte zu Fall bringen eines
  Baumes.
