---
layout: default
title: 'Landschaftspflege'
---

%p.boxer
  %img{alt: "Landschaftspflege", src: "/images/landschaftspflege.jpg"}/

%h2
  Landschaftspflege
%p
  Hecken und Sträucher gehören zu unserem Hauptgebiet in der Landschaftspflege.
  Auch an schwerzugänglichen Orten wie steile Hänge oder entlang Bachläufen
  sind wir tätig.
%p
  Mit dem richtigen Werkzeug und guter Laune ist jedes Gelände zugänglich
  und jegliche Herausforderung ein Spiel.
