---
layout: default
title: 'Wurzelstrunk entfernen'
---

%p.boxer
  %img{alt: "Wurzelstrunk entfernen", src: "/images/wurzelballen_entfernen.jpg"}/

%h2
  Wurzelstrunk entfernen
%p
  Das Wurzelwerk von Bäumen ist besonders stark im Boden verankert. Die
  sauberste Lösung es zu entfernen, ist den Wurzelballen auszufräsen.
%p
  Wir sind ausgerüstet für die Wurzelballenentfernung in jeder Grösse und
  Breite, inklusive Transport und Entsorgung.
