---
layout: default
title: 'Baumschnitt'
---

%p.boxer
  %img{alt: "baumschnitt", src: "/images/baumschnitt.jpg"}/

%h2
  Baumschnitt
%p
  Wir schneiden Bäume mit Beachtung der baumbiologischen Regeln fachgerecht,
  sicher und umfeldschonend zurück. Die Abschottungsfähigkeit der Baumart
  beeinflusst die mögliche Schnittmenge. Beim Eingriff legen wir Wert darauf
  möglichst nahe der artspezifischen Kronenform (Habitus) zu bleiben, so
  dass das Gesamtbild naturnah bleibt.
%p
  Jeder Baum ist individuell (Standort, Wachstum und Erscheinung). Wir suchen
  die passende Schnittart für die jeweilige Baumart und deren Situation in
  Verbindung mit dem Bedürfnis des Kunden.
%p
  %a{href: "/angebot/baumpflege.html"} Zurück zur Baumpflege
