---
layout: default
title: 'Diagnose'
---

%p.boxer
  %img{alt: "diagnose", src: "/images/diagnose.jpg"}/

%h2
  Visuelle Baumansprache
%p
  Bei der visuellen Baumansprache (Viszal Tree Assessment) wird über optische
  und akustische wahrnehmbare Auffälligkeiten  der Baum einfach und
  effizient überprüft:

%ul
  %li
    Beurteilung der Schad- und Defekt-Symptome
  %li
    Erfassen von Zukunftsperspektiven
  %li
    Beratung und Information über  anstehende Pflegemassnahmen

%p
  Werden Schad- oder Defekt-Symptome entdeckt, werden bei weiteren, tiefergehenden
  Untersuchungen technische Diagnosegeräte durch qualifizierte, externe Partner
  eingesetzt.
%p
  %a{href: "/angebot/baumpflege.html"} Zurück zur Baumpflege
