---
layout: default
title: 'kronensicherung'
---

%p.boxer
  %img{alt: "kronensicherung", src: "/images/kronensicherung.jpg"}/

%h2
  Kronensicherungs-Systeme
%p
  Mechanische Sicherungsysteme dienen dazu das Ausbrechen von Kronenteilen
  zu verhindern oder einzelne ausladende Äste punktuell zu sichern. Sie werden
  an Bäumen eingesetzt wo Bruchgefahren festgestellt wurde.
%p
  Sind eine der folgenden Anzeichen für eine mangelnde Bruchsicherheit ersichtlich,
  wird meist im Zusammenhang mit  einem Entlastungsschnitt eine dynamische
  Sicherung installiert.
%ul
  %li
    Faulstellen bei statischen Trägerpunkten
  %li
    eingewachsene Rinde bei Vergabelungen oder Zwieseln
  %li
    altersbedingter Stabilitätsabnahme
%p
  Besteht die Möglichkeit einer wahrscheinlichen Überlastung von Kronenteilen
  z.B. durch eine Umgebungsveränderung, kann auch präventiv ein Sicherungssystem
  eingebaut werden um so die Sicherheit insbesondere bei stark frequentierter
  Umgebung zu erhöhen.
%p
  = link_to 'Zurück zur Baumpflege', '/angebot/baumpflege.html'
